# The directory Mix will write compiled artifacts to.
/server/_build/

# If you run "mix test --cover", coverage assets end up here.
/server/cover/

# The directory Mix downloads your dependencies sources to.
/server/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/server/doc/

/server/.elixir_ls/

# Ignore .fetch files in case you like to edit your project deps locally.
/server/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/server/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
/server/*.ez

# Ignore package tarball (built via "mix hex.build").
/server/mave_metrics-*.tar

# Ignore assets that are produced by build tools.
/server/priv/static/assets/

# Ignore digested assets cache.
/server/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log

_pgdata
node_modules
.DS_Store

/client/dist/

.env
.envrc

